extends layout

block content
  header
    .wrapper
      nav
        a(href="#home") Home
        a(href="#process") Process
        a(href="#products") Products
        a(href="#team") Team
        a(href="#contact") Contact
        
  section#home
    .wrapper
      span
        h1.logo
          img( src="/images/logo_white.png")
          
      aside
        h2 Saving the world one drink at a time!
        
        p 
          strong Sun Spirits Distilling Company 
          | is a craft distillery out to save the world one drink at a time. Our goal is to use free solar energy, cut down our carbon footprint with recycled materials, and pass the savings on to the consumer in superior taste.
  
  section#process
    .wrapper
      h2 Our Process
      
      span
        p At Sun Spirits we do things a little bit differently. We take used wine grapes and recycle them by extracting the leftover alcohol. Once the alcohol has been extracted, it is distilled into vodka using the sun’s natural heat. After the distillation takes place, the vodka diluted using natural pure water and bottled into our containers made completely from recycled material. Our commitment to recycling and local communities is continued by donating the leftover grapes to local farmers for animal feed.
        
      aside
        img(src="/images/process.jpg")
  
  section#products
    .wrapper
      h2 Our Process
      
      span
        p We harness the power of the sun through a unique process.
        
      aside
        img(src="/images/process.jpg")

    
  section#team
  
  section#contact
    