extends layout

block content
  header
    .wrapper
      nav
        a(href="#home") Home
        a(href="#process") Process
        a(href="#products") Products
        a(href="#team") Team
        a(href="#contact") Contact
        
  section#home
    .wrapper
      span
        h1.logo
          img( src="/images/logo_white.png")
          
      aside
        h2 Saving the world one drink at a time!
        
        p 
          strong Sun Spirits Distilling Company 
          | is a craft distillery out to save the world one drink at a time. Our goal is to use free solar energy, cut down our carbon footprint with recycled materials, and pass the savings on to the consumer in superior taste.
  
  section#process
    .wrapper
      h2 Our Process
      
      span
        p At Sun Spirits we do things a little bit differently. We take used wine grapes and recycle them by extracting the leftover alcohol.
        br
        br
        p Once the alcohol has been extracted, it is distilled into vodka using the sun’s natural heat. After the distillation takes place, the vodka is diluted using natural pure water and bottled into our containers made completely from recycled material.
        br
        br
        p Our commitment to recycling and local communities is continued by donating the leftover grapes to local farmers for animal feed.
        
      aside
        img(src="/images/process.jpg")
  
  section#products
    .wrapper
      h2 Products
      
      span
        h3 Sun Vodka 80 Proof (40% ALC. BY VOL.)
        P Sun Vodka is made using the energy of the sun. Utilizing grape by-products from local wineries, to the heat used in the distilling process. Sun Vodka is green at the core. At 80 proof, you are getting a premium product that was produced in an environmentally concsious way. 
        
      aside
        img(src="/images/canteen.jpg")

    
  section#team
    .wrapper
      h2 Our Team

      span
        ul
          li Erick Flieger
          li Brett Spooner
          li Tracy Spooner
          li Khurshed Sharifov
          li Enrick Francisco
          li James Menera
          li Sam Clopton
  
  section#contact
    .wrapper
      h2 Contacts


    