doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="/javascripts/jquery-1.9.1.min.js")
    script(type='text/javascript', src="/javascripts/site.js")
    script(type='text/javascript', src="/javascripts/prefix-free-1.0.7.js")
    link(href="https://fonts.googleapis.com/css?family=Raleway:400,200,300,700", rel="stylesheet", type="text/css")
  body
    block content